<ng-container *ngIf="nav.visible">
  <nav class="navbar">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" [routerLink]='["/"]'>TROJANTRADING</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right" style="max-width: 640px;text-align: right">
          <li [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }' class="largewidth">
            &nbsp;
          </li>
          <li [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }' class="thirdwidth">
            <a [routerLink]='["/"]'>
              Home
            </a>
          </li>
          <li [routerLinkActive]='["link-active"]' class="thirdwidth">
            <a [routerLink]='["/about-us"]'>
              About Us
            </a>
          </li>
          <li [routerLinkActive]='["link-active"]' class="thirdwidth">
            <a [routerLink]='["/contact-us"]'>
              Contact Us
            </a>
          </li>
          <li [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }' class="float-right">
            <a (click)="logOut()">
              <i class="fas fa-sign-out-alt fa-fw"></i> Log Out
            </a>
          </li>
          <li *ngIf="role !='admin'" class="float-right">
            <a href="{{filePath}}" target="_blank">
              <i class="fas fa-download fa-fw"></i> Download Price List
            </a>
          </li>
          <li [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }' *ngIf="role !='admin'" class="float-right">
            <a [routerLink]='["/orders"]'>
              <i class="fas fa-list fa-fw"></i> Order History
            </a>
          </li>
          <li [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }' *ngIf="role =='admin'" class="float-right">
            <a [routerLink]='["/admin"]'>
              <i class="fas fa-list fa-fw"></i> Administration
            </a>
          </li>
          <li [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }' ngbDropdown
            #myDrop="ngbDropdown" *ngIf="role !='admin'" class="float-right">
            <a ngbDropdownToggle [routerLink]='["/cart"]' class="btn btn-outline-primary" id="dropdownConfig"
              (mouseenter)="myDrop.open()">
              <i class="fas fa-shopping-cart fa-fw"></i> My Cart
            </a>
            <div ngbDropdownMenu aria-labelledby="dropdownConfig" (mouseleave)="myDrop.close()" *ngIf="!inCartPage">
              <mat-list role="list" *ngIf="role =='agent'">
                <h3 mat-subheader>My Order</h3>
                <mat-list-item role="listitem" *ngFor="let shoppingItem of shoppingItems">
                  <span class="carttext">{{shoppingItem?.product?.name}}&nbsp;&nbsp;&nbsp;
                    {{shoppingItem?.product?.agentPrice | currency:'AUD':'symbol-narrow':'.2-2'}} *
                    {{shoppingItem?.amount}}</span><span
                    class="cartprice">{{shoppingItem?.amount * shoppingItem?.product?.agentPrice | currency:'AUD':'symbol-narrow':'.2-2'}}</span><span
                    class="carticon" (click)="deleteShoppingItem(shoppingItem)"><i id="shoppingitem{{shoppingItem.id}}"
                      class="far fa-trash-alt fa-1x"></i></span>
                </mat-list-item>
                <button class="btn btn-long" (click)="proceedToCheckout()" *ngIf="shoppingItems?.length">Procees To
                  Checkout</button>
                <button class="btn btn-long" (click)="continueShopping()" style="margin-left:75px!important;" *ngIf="!shoppingItems?.length">Start
                  Shopping</button>
              </mat-list>
              <mat-list role="list" *ngIf="role =='wholesaler'">
                <h3 mat-subheader>My Order</h3>
                <mat-list-item role="listitem" *ngFor="let shoppingItem of shoppingItems">
                  <span class="carttext">{{shoppingItem?.product?.name}}&nbsp;&nbsp;&nbsp;
                    {{shoppingItem?.product?.wholesalerPrice | currency:'AUD':'symbol-narrow':'.2-2'}} *
                    {{shoppingItem?.amount}}</span><span
                    class="cartprice">{{shoppingItem?.amount * shoppingItem?.product?.wholesalerPrice | currency:'AUD':'symbol-narrow':'.2-2'}}</span><span
                    class="carticon" (click)="deleteShoppingItem(shoppingItem)"><i id="shoppingitem{{shoppingItem.id}}"
                      class="far fa-trash-alt fa-1x"></i></span>
                </mat-list-item>
                <button class="btn btn-long" (click)="proceedToCheckout()" *ngIf="shoppingItems?.length">Procees To
                  Checkout</button>
                <button class="btn btn-long" (click)="continueShopping()" *ngIf="!shoppingItems?.length">Start
                  Shopping</button>
              </mat-list>
            </div>
          </li>
          <li [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }' class="float-right">
            <a [routerLink]='["/account"]'>
              <i class="fas fa-user fa-fw"></i> My Account
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <mat-card class="container card-carousel" *ngIf="headerDataSource?.length">
    <mat-card-content>
      <app-ngbd-carousel-basic></app-ngbd-carousel-basic>
    </mat-card-content>
  </mat-card>

</ng-container>