.container{
  width: 100%;
}
.navbar-button {
  padding-top: 10px;
}

.navbar-button button {
  color: #0a0a0a88;
  background: transparent;
  margin: 10px 5px;
  padding: 5px 15px;
  border-radius: 50px;
  border: 0px;
  box-shadow: 1px 1px 2px 0px rgba(77, 79, 80, 0.302), 0 1px 3px 1px rgba(41, 43, 43, 0.149);
}

.navbar-button button:hover {
  box-shadow: 0px 1px 3px 0 rgba(138, 139, 140, 0.302), 0px 4px 8px 3px rgba(35, 35, 35, 0.149);
}

.navbar-button_flexWrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}

.navbar {
  background: #3a3633;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  box-shadow: 6px 3px 13px 0px rgba(43, 43, 43, 0.2);
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 14px;
}

.navbar-header {
  border-right: 1px solid rgba(0, 0, 0, .1);
}

.navbar-toggle {
  border: 1px solid #8888;
}

.navbar-toggle .icon-bar {
  background-color: #8888;
}

.navbar-brand {
  padding: 40px 15px 15px;
}

.navbar-nav li {
  cursor: pointer;
}

.link-active a{
  color: white;
}

/* overwrite defalut bootstrap styles */
a{
  color:#c0bbb7;
}
.nav>li>a:focus, .nav>li>a:hover {
  color: white;
  text-decoration: none;
  background-color:transparent;
}

::ng-deep .dropdown-menu{
  min-width: 280px !important;
}

::ng-deep .mat-list-item{
  border-bottom: 1px solid #c7c5a5;
  margin-bottom: 10px;
}

::ng-deep .dropdown-menu{
  cursor: auto !important;
}

::ng-deep .mat-card{
  width: 1250px !important;
}

.btn-long{
	width: auto !important;
	margin: 15px 54px 0 !important;
}

.fa-1x {
  color: #C20047;
	cursor: pointer;
}

.carttext{
  font-size: 10px !important;
  flex: 7
}

.carticon{
  flex: 1;
  text-align: right;
}

.cartprice{
  flex: 2;
  font-size: 10px !important;
  text-align: center;
}

@media (max-width: 768px){
  .navbar-brand {
    padding: 15px 10px;
  }
  .btn-outline-primary{
    text-align: right !important;
  }
}

.card-carousel{
  margin-top: 30px;
}

@media (min-width: 769px){
  .largewidth{
    width: 60%;
  }
  
  .float-right{
    float: right;
  }
}