<h1 mat-dialog-title>Edit {{type}} Address</h1>
<div mat-dialog-content [formGroup]="userFormGroup">
  <mat-form-field>
    <input matInput formControlName="customerName" placeholder="Customer Name">
  </mat-form-field>
  <mat-form-field>
    <input matInput formControlName="streetNumber" placeholder="Street Number">
  </mat-form-field>
  <mat-form-field>
    <input matInput formControlName="addressLine" placeholder="Address Line">
  </mat-form-field>
  <mat-form-field>
    <input matInput formControlName="suburb" placeholder="Suburb">
  </mat-form-field>
  <mat-form-field>
    <input matInput formControlName="state" placeholder="State">
  </mat-form-field>
  <mat-form-field>
    <input matInput formControlName="postcode" placeholder="Postcode">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button class="btn btn-long" (click)="updateAddress()">Update</button>
  <button mat-button class="btn btn-long" (click)="onNoClick()">Cancel</button>
</div>
