<h1 mat-dialog-title>Edit User Details</h1>
<div mat-dialog-content [formGroup]="userFormGroup">
  <mat-form-field>
    <input matInput class="accountValidate" formControlName="account" placeholder="User Name">
  </mat-form-field>
  <mat-form-field *ngIf="roleName != 'admin'">
    <mat-label>Role</mat-label>
    <mat-select class="roleValidate" formControlName="role">
      <mat-option value="admin">Admin</mat-option>
      <mat-option value="agent">Agent</mat-option>
      <mat-option value="reseller">Reseller</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field *ngIf="roleName == 'admin'">
    <input matInput class="roleValidate" formControlName="role" placeholder="Role">
  </mat-form-field>
  <mat-form-field>
    <input matInput class="bussinessNameValidate" formControlName="bussinessName" placeholder="Business Name">
  </mat-form-field>
  <mat-form-field>
    <input matInput class="trnValidate" formControlName="trn" placeholder="Tobacco Licence Number">
  </mat-form-field>
  <mat-form-field>
    <input matInput class="emailValidate" formControlName="email" placeholder="Email">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="tel" class="phoneValidate" formControlName="phone" placeholder="Phone">
  </mat-form-field>
  <mat-form-field>
    <input matInput formControlName="mobile" placeholder="Mobile">
  </mat-form-field>
  <mat-form-field *ngIf="roleName != 'admin'">
    <mat-label>Status</mat-label>
    <mat-select class="statusValidate" formControlName="status">
      <mat-option value="active">Active</mat-option>
      <mat-option value="inactive">Inactive</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field *ngIf="roleName == 'admin'">
    <input matInput class="statusValidate" formControlName="status" placeholder="Status">
  </mat-form-field>

  <mat-form-field>
    <input matInput formControlName="billingCustomerName" placeholder="Billing Customer Name">
  </mat-form-field>
  <mat-form-field>
    <input matInput formControlName="billingAddressLine1" placeholder="Billing Address Line1">
  </mat-form-field>
  <mat-form-field>
    <input matInput formControlName="billingAddressLine2" placeholder="Billing Address Line2">
  </mat-form-field>
  <mat-form-field>
    <input matInput formControlName="billingAddressLine3" placeholder="Billing Address Line3">
  </mat-form-field>
  <mat-form-field>
    <input matInput formControlName="billingSuburb" placeholder="Billing Suburb">
  </mat-form-field>
  <mat-form-field>
    <input matInput formControlName="billingState" placeholder="Billing State">
  </mat-form-field>
  <mat-form-field>
    <input matInput formControlName="billingPostCode" placeholder="Billing PostCode">
  </mat-form-field>

  <mat-form-field>
    <input matInput formControlName="shippingCustomerName" placeholder="Shipping Customer Name">
  </mat-form-field>
  <mat-form-field>
    <input matInput formControlName="shippingAddressLine1" placeholder="Shipping Address Line 1">
  </mat-form-field>
  <mat-form-field>
    <input matInput formControlName="shippingAddressLine2" placeholder="Shipping Address Line 2">
  </mat-form-field>
  <mat-form-field>
    <input matInput formControlName="shippingAddressLine3" placeholder="Shipping Address Line 3">
  </mat-form-field>
  <mat-form-field>
    <input matInput formControlName="shippingSuburb" placeholder="Shipping Suburb">
  </mat-form-field>
  <mat-form-field>
    <input matInput formControlName="shippingState" placeholder="Shipping State">
  </mat-form-field>
  <mat-form-field>
    <input matInput formControlName="shippingPostCode" placeholder="Shipping PostCode">
  </mat-form-field>

  <mat-form-field>
    <input matInput formControlName="companyAddress" placeholder="Company Address">
  </mat-form-field>
  <mat-form-field>
    <input matInput formControlName="companyEmail" placeholder="Company Email">
  </mat-form-field>
  <mat-form-field>
    <input matInput formControlName="companyPhone" placeholder="Company Phone">
  </mat-form-field>
  <mat-form-field>
    <input matInput formControlName="fax" placeholder="Fax">
  </mat-form-field>
  <mat-form-field>
    <input matInput class="abnValidate" formControlName="abn" placeholder="Australian Business Number">
  </mat-form-field>
  <mat-form-field>
    <input matInput formControlName="acn" placeholder="acn">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button class="btn btn-long" (click)="updateUserDetails()">{{data.type}}</button>
  <button mat-button class="btn btn-long" (click)="onNoClick()">Cancel</button>
</div>
