<app-nav-menu></app-nav-menu>

<section class="topbar">
  <div class="backproductbar">
    <span class="backtoproduct" (click)="backToProduct()"><i class="fas fa-arrow-left fa-fw"></i> Back to Product</span>
  </div>
</section>
<loading-screen *ngIf="!loadContent" [showBlurTable]="false" (currentLoadingStatus)="onLoading($event)"></loading-screen>
<div class="accountbody">
  <div class="page-title-wrapper">
    <div class="page-title-position">
      {{title}}
    </div>
  </div>
  <div class="accountinfo">
    <div class="infobody">
      <div class="card">
        <div class="card-header">
          Account Information
        </div>
        <div class="card-body">
          <div class="detail">
            <span><b>Customer Number:</b> {{user?.id}}</span>
            <span><b>Customer Account</b>: {{user?.account}}</span>
            <span><b>Business Name</b>: {{user?.bussinessName}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="infobody">
      <div class="card">
        <div class="card-header">
          Shipping Address <i class="fas fa-edit fa-fx editbtn Shipping" (click)="editAddress('Shipping')"></i>
        </div>
        <div class="card-body">
          <div class="detail">
            <span>{{user?.shippingCustomerName}}</span>
            <span>{{user?.shippingStreetNumber}} {{user?.shippingAddressLine}}</span>
            <span>{{user?.shippingSuburb}} {{user?.shippingState}} {{user?.shippingPostCode}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="infobody">
      <div class="card">
        <div class="card-header">
          Billing Address <i class="fas fa-edit fa-fx editbtn Billing" (click)="editAddress('Billing')"></i>
        </div>
        <div class="card-body">
          <div class="detail">
            <span>{{user?.billingCustomerName}}</span>
            <span>{{user?.shippingStreetNumber}} {{user?.billingAddressLine}}</span>
            <span>{{user?.billingSuburb}} {{user?.billingState}} {{user?.billingPostCode}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="editinfo">
    <div class="infobody">
      <div class="card">
        <div class="card-header">
          Edit Account Details
        </div>
        <div class="card-body">
          <div class="detail" [formGroup]="userFormGroup">
            <mat-form-field [floatLabel]="'always'">
              <input matInput class="trn" formControlName="trn" placeholder="Tobacco Licence Number" required>
            </mat-form-field>
            <mat-form-field [floatLabel]="'always'">
              <input matInput class="abn" formControlName="abn" placeholder="Australian Business Number" required>
            </mat-form-field>
            <mat-form-field [floatLabel]="'always'">
              <input matInput class="email" formControlName="email" placeholder="Email Address" required>
            </mat-form-field>
            <mat-form-field [floatLabel]="'always'">
              <input matInput class="phone" formControlName="phone" placeholder="Phone" required>
            </mat-form-field>
            <mat-form-field [floatLabel]="'always'">
              <input matInput class="mobile" formControlName="mobile" placeholder="Mobile">
            </mat-form-field>
            <button class="btn btn-long updateinfo" (click)="updateInfo()">UPDATE</button>
          </div>
        </div>
      </div>
    </div>
    <div class="infobody">
      <div class="card">
        <div class="card-header">
          Update Your Password
        </div>
        <div class="card-body">
          <div class="detail" [formGroup]="userPasswordGroup">
            <mat-form-field [floatLabel]="'always'">
              <input matInput class="password" formControlName="password" placeholder="Current Password" [type]="hidePassword ? 'password' : 'text'" required>
              <mat-icon matSuffix class="passwordeye" (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </mat-form-field>
            <mat-form-field [floatLabel]="'always'">
              <input matInput class="newpassord" formControlName="newpassord" placeholder="New Password" [type]="hideNewPassword ? 'password' : 'text'" required>
              <mat-icon matSuffix class="passwordeye" (click)="hideNewPassword = !hideNewPassword">{{hideNewPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </mat-form-field>
            <mat-form-field [floatLabel]="'always'">
              <input matInput class="confirmpassord" formControlName="confirmpassord" placeholder="Confirm Password" [type]="hideConfirmPassword ? 'password' : 'text'" required>
              <mat-icon matSuffix class="passwordeye" (click)="hideConfirmPassword = !hideConfirmPassword">{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </mat-form-field>
            <button class="btn btn-long updatepassword" (click)="updatePassword()">UPDATE</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="globalfooter">© Copyright 2019 Trojan Trading Company PTY LTD.</div>