<app-nav-menu></app-nav-menu>

<div class="container">
  <main class="row">
    <div class='col-sm-12 body-content'>
      <section class="product-wrapper" id="contact-info-wrapper">
          <h4>{{title}}</h4>
        <ul>
          <li>
            <i class="fa fa-phone" aria-hidden="true"></i>
            <span>0000 000 000</span>
          </li>

          <li>
            <i class="fas fa-envelope-square"></i>
            <span>test@gmail.com</span>
          </li>

          <li>
            <i class="fa fa-map-marker" aria-hidden="true"></i>
            <span>X XXXXX Ave, XXXX, NSW, 2077</span>
          </li>

          <li>
            <i class="fa fa-laptop" aria-hidden="true"></i>
            <span>Website</span>
          </li>
        </ul>
      </section>
    </div>
  </main>
</div>

<div class="globalfooter">© Copyright 2019 TrojanTrading Tobacco Group Australia Pty Ltd.</div>