
#logo img {
  display: block;
  width: 170px;
  height: 174px;
  margin: 2em auto;
}

.top {
  background: #293039;
  padding: 0;
  width: 100%;
  z-index: 2;
  text-align: center;
  height: 1040px;
}

.bottom {
  background: white;
  padding: 0;
  width: 100%;
  min-height: 200px;
  z-index: 2;
  text-align: center;
  height: 55%;
}

#welcome {
  max-width: 800px;
  text-align: center;
  padding: 50px 20px;
}

#welcome p {
  font-size: 1.8rem;
  font-weight: 100;
  line-height: 1.6;
  color: #eeede1;
}

.login-box {
  margin: 0 auto;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.8);
  border-bottom: 20px #b0001f solid;
  position: relative;
  top: -18px;
  padding: 1.6em;
  width: 40%;
  background: white;
}

.login-box p {
  font-size: 2.15rem;
  font-weight: 600;
  color: #2d2c26;
  margin-bottom: 40px;
}

.button-red {
  margin-top: 15px !important;
}

.btn.btn-long{
  display: block;
  margin: 25px auto auto;
}

.resettext{
  font-weight: 100 !important;
}

:host /deep/ .mat-form-field-underline {
  background: gray;
}

:host /deep/ .mat-checkbox-label{
  color: rgba(0,0,0,.54);
  font-weight: normal;
  white-space: normal;
  overflow-wrap: break-word;
}

:host /deep/ .mat-input-container{
  width: 100%;
  max-width: 270px;
}