<div class="top container">
  <a id="logo">
    <img src="/img/img-placeholder.jpg" alt="stg logo">
    <h1 style="text-transform:uppercase;color:#eeede1;">TrojanTrading Tobacco Group</h1>
  </a>
  <section id="welcome" class="container">
    <p>Trojan Trading Company PTY LTD is Australia’s leading supplier of cigars, pipe
      tobacco,
      matches, lighters and tobacco accessories. Market leading brands available from STG AU include Macanudo,
      Amanda,
      Café Crème, Colts, Borkum Riff, Cricket and Ventti.</p>
  </section>
  <div class="bottom">
    <div class="login-box" *ngIf="!sentEmailField">
      <form [formGroup]="userFormGroup">
        <p>MEMBER LOGIN</p>
        <mat-form-field [floatLabel]="'always'">
          <input matInput formControlName="account" placeholder="USERNAME" id="account">
        </mat-form-field>
        <mat-form-field [floatLabel]="'always'">
          <input matInput formControlName="password" placeholder="PASSWORD" id="password" [type]="hidePassword ? 'password' : 'text'">
          <mat-icon matSuffix class="passwordeye" (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </mat-form-field>
      </form>
      <mat-checkbox [(ngModel)]="checked" id="checkbox">I accept the <span (click)="showTerms()" style="color: blue">terms and conditions</span></mat-checkbox>
      <button class="btn btn-long loginbtn" (click)="onSubmit()">LOGIN IN</button>
      <button class="btn btn-long" (click)="passwordRecover()">FORGETTEN PASSWORD?</button>
    </div>
    <div class="login-box" *ngIf="sentEmailField">
      <ng-container *ngIf="!showResetText">
        <p>Forgot your password?<br> Please enter your information below.</p>
        <mat-form-field [floatLabel]="'always'" [formGroup]="userEmailGroup">
          <input matInput formControlName="email" placeholder="Your Email" required>
        </mat-form-field>
        <button class="btn btn-long sendresetemail" (click)="sendPasswordRecoveryEmail()">SENT</button>
      </ng-container>
      <ng-container *ngIf="showResetText">
        <p>Email has been sent.</p> 
        <p class="resettext">Email for password reset has been sent to your account:<br>
            a@b.com<br>
          Please follow the instructions in the Email to reset your password. If you do not receive an E-mail, check your spam mail box.
        </p>
        <button class="btn btn-long" (click)="backToLogin()">Back To Login</button>
      </ng-container>
    </div>
  </div>
  <p class="footer">© Copyright 2019 Trojan Trading Company PTY LTD.</p>
</div>