/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/*#region Buttons */

html {
  height: 100%;
}

body {
  font-family: "proxima-nova", sans-serif !important;
  overflow-x: hidden;
  position: relative;
  min-height: 100%;
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  overflow-wrap: break-word;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn:focus {
  color: white !important;
}

.btn-long {
  width: 100%;
  max-width: 270px;
  padding: 4px 10px 2px 10px;
  font-size: 12px;
  margin: 0px 8px;
  background-color: #C20047;
  color: white;
  text-align: center;
  border-radius: 20px;
  cursor: pointer;
  vertical-align: middle;
  text-align: center;
  display: inline-block;
  border: 1px #CA1845 solid;
  margin-top: 25px;
}

.btn-long:hover {
  border: 1px #CA1845 solid;
  color: #CA1845 !important;
  background: white;
}

.btn.btn-long {
  white-space: normal !important;
  overflow-wrap: break-word !important;
}

.btn-tiny {
  width: 45%;
  max-width: 270px;
  padding: 4px 10px 2px 10px;
  font-size: 12px;
  margin: 0px 8px;
  background-color: #C20047;
  color: white;
  text-align: center;
  border-radius: 20px;
  cursor: pointer;
  vertical-align: middle;
  text-align: center;
  display: inline-block;
  border: 1px #CA1845 solid;
  white-space: nowrap;
  margin-top: 25px;
}

.btn-tiny:hover {
  border: 1px #CA1845 solid;
  color: #CA1845 !important;
  background: white;
}

.btn-green {
  width: 100%;
  max-width: 270px;
  padding: 4px 10px 2px 10px;
  font-size: 12px;
  margin: 0px 8px;
  background-color: green;
  color: white;
  text-align: center;
  border-radius: 20px;
  cursor: pointer;
  vertical-align: middle;
  text-align: center;
  display: inline-block;
  border: 1px green solid;
  white-space: nowrap;
  margin-top: 25px;
}

.btn-green:hover {
  border: 1px green solid;
  color: green !important;
  background: white;
}

/*end button region*/

.button-ed.disabled-light-bg {
  opacity: 0.4;
}

a:hover {
  text-decoration: none !important;
}

/* Shared Search input styles */

.searchInputGroup {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  font-size: 12px;
  font-style: italic;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  height: 30px;
  border-radius: 20px;
}

.searchIcon {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  border-right: none;
  margin: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 10px;
  color: gray;
  font-size: .625rem;
}

.searchInput {
  width: 100%;
  outline: none;
  background: #fff;
  font-size: 14px;
  border: none;
  -webkit-box-shadow: 1px 1px 2px 0px rgba(77, 79, 80, 0.302), 0 1px 3px 1px rgba(41, 43, 43, 0.149);
  box-shadow: 1px 1px 2px 0px rgba(77, 79, 80, 0.302), 0 1px 3px 1px rgba(41, 43, 43, 0.149);
  border-radius: 20px;
  padding-left: 30px;
}

.passwordeye {
  cursor: pointer;
}

.footer {
  color: #eeede1;
  margin-top: 11px;
}

.globalfooter {
  background: #3a3633;
  color: white;
  text-align: center;
  padding: 13px 0;
  box-shadow: 0px 19px 19px 27px rgba(43, 43, 43, 0.2);
  position: absolute;
  height: 40px;
  bottom: -60px;
  width: 100%
}

.slick-next {
  right: 14px !important;
}


/*/*#region post login progress */

#pre-bootstrap {
  background-color: #262626;
  bottom: 0px;
  left: 0px;
  position: fixed;
  right: 0px;
  top: 0px;
  z-index: 999999;
}

#pre-bootstrap div.messaging {
  color: #FFFFFF;
  font-family: monospace;
  left: 0px;
  margin-top: -107px;
  position: absolute;
  right: 0px;
  text-align: center;
  top: 50%;
}

#pre-bootstrap h1 {
  font-size: 26px;
  line-height: 35px;
  margin: 0px 0px 20px 0px;
}

#pre-bootstrap p {
  font-size: 14px;
  line-height: 14px;
  margin: 0px 0px 0px 0px;
}



.prebootShow {
  opacity: 1 !important;
}

.prebootStep {
  opacity: 0;
  transition: .5s ease-in-out all;
}


.app-loader {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.app-loader-inner {
  transform: translateY(-50%);
  top: 60%;
  position: absolute;
  width: 100%;
  color: #FFF;
  padding: 0 100px;
  text-align: center;
}

.app-loader-inner label {
  font-size: 20px;
  opacity: 0;
  display: inline-block;
  color: gray;
}

@keyframes lol {
  0% {
    opacity: 0;
    transform: translateX(-300px);
  }

  33% {
    opacity: 1;
    transform: translateX(0px);
  }

  66% {
    opacity: 1;
    transform: translateX(0px);
  }

  100% {
    opacity: 0;
    transform: translateX(300px);
  }
}

@-webkit-keyframes lol {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-300px);
  }

  33% {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }

  66% {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateX(300px);
  }
}

.app-loader-inner label:nth-child(6) {
  -webkit-animation: lol 3s infinite ease-in-out;
  animation: lol 3s infinite ease-in-out;
}

.app-loader-inner label:nth-child(5) {
  -webkit-animation: lol 3s 100ms infinite ease-in-out;
  animation: lol 3s 100ms infinite ease-in-out;
}

.app-loader-inner label:nth-child(4) {
  -webkit-animation: lol 3s 200ms infinite ease-in-out;
  animation: lol 3s 200ms infinite ease-in-out;
}

.app-loader-inner label:nth-child(3) {
  -webkit-animation: lol 3s 300ms infinite ease-in-out;
  animation: lol 3s 300ms infinite ease-in-out;
}

.app-loader-inner label:nth-child(2) {
  -webkit-animation: lol 3s 400ms infinite ease-in-out;
  animation: lol 3s 400ms infinite ease-in-out;
}

.app-loader-inner label:nth-child(1) {
  -webkit-animation: lol 3s 500ms infinite ease-in-out;
  animation: lol 3s 500ms infinite ease-in-out;
}

.mat-table_4fex {
  flex: 4 !important;
}

.mat-table_3fex {
  flex: 3 !important;
}

.mat-table_2fex {
  flex: 2 !important;
}

::ng-deep .mat-header-cell {
  font-size: 14px !important;
  font-weight: bold !important;
}

/*#endregion */

.success {
  background: #326D32;
}

.error {
  background: #A01B3C;
}

.example-container {
  max-height: 550px !important;
  overflow: auto;
}
