/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/*#region Buttons */

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn-long {
    width: 270px;
    padding: 4px 10px 2px 10px;
    font-size: 12px;
    margin: 0px 8px;
    background-color: #C20047;
    color: white;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    vertical-align: middle;
    text-align: center;
    display: inline-block;
    border: 1px #CA1845 solid;
    white-space: nowrap;
    margin-top: 40px;
}

.btn-long:hover {
    border: 1px #CA1845 solid;
    color: #CA1845 !important;
    background: white;
}

/*end button region*/

/*#region Validator */

.validator-container {
    display: none;
    position: absolute;
    z-index: 9030;
    background: transparent;
}

.validator-new {
    font-size: 12px;
    position: relative;
    padding: 8px;
    text-align: center;
    max-width: 200px;
}

.validator-new.validator-red {
    color: white;
    background: #CA1845;
    border: 1px solid #A01B3C;
}

.validator-new.validator-green {
    color: white;
    background: #459A45;
    border: 1px solid #2B5E2B;
}

.validator-new.validator-dark {
    color: white;
    background-color: #343535;
    border: 1px solid #2B5E2B;
}

.validator-new.validator-light {
    color: black;
    background-color: #E7E6E3;
    border: 1px solid #2B5E2B;
}

.validator-new:before, .validator-new:after {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    border: solid transparent;
    pointer-events: none;
}

.validator-new.validator-top:before, .validator-new.validator-top:after {
    top: 100%;
    left: 50%;
}

.validator-new.validator-right:before, .validator-new.validator-right:after {
    right: 100%;
    top: 50%;
}

.validator-new.validator-bottom:before, .validator-new.validator-bottom:after {
    bottom: 100%;
    left: 50%;
}

.validator-new.validator-left:before, .validator-new.validator-left:after {
    left: 100%;
    top: 50%;
}

.validator-new.validator-top:after, .validator-new.validator-right:after, .validator-new.validator-bottom:after, .validator-new.validator-left:after {
    border-width: 7px;
}

.validator-new.validator-top:after, .validator-new.validator-bottom:after {
    margin-left: -7px;
}

.validator-new.validator-right:after, .validator-new.validator-left:after {
    margin-top: -7px;
}

.validator-new.validator-red:after {
    border-color: rgba(202, 24, 69, 0);
}

.validator-new.validator-red.validator-top:after {
    border-top-color: #CA1845;
}

.validator-new.validator-red.validator-right:after {
    border-right-color: #CA1845;
}

.validator-new.validator-red.validator-bottom:after {
    border-bottom-color: #CA1845;
}

.validator-new.validator-red.validator-left:after {
    border-left-color: #CA1845;
}

.validator-new.validator-green:after {
    border-color: rgba(69, 154, 69, 0);
}

.validator-new.validator-green.validator-top:after {
    border-top-color: #459A45;
}

.validator-new.validator-green.validator-right:after {
    border-right-color: #459A45;
}

.validator-new.validator-green.validator-bottom:after {
    border-bottom-color: #459A45;
}

.validator-new.validator-green.validator-left:after {
    border-left-color: #459A45;
}

.validator-new.validator-dark:after {
    border-color: rgba(52, 53, 53, 0);
}

.validator-new.validator-dark.validator-top:after {
    border-top-color: #343535;
}

.validator-new.validator-dark.validator-right:after {
    border-right-color: #343535;
}

.validator-new.validator-dark.validator-bottom:after {
    border-bottom-color: #343535;
}

.validator-new.validator-dark.validator-left:after {
    border-left-color: #343535;
}

.validator-new.validator-light:after {
    border-color: rgba(231, 230, 227, 0);
}

.validator-new.validator-light.validator-top:after {
    border-top-color: #E7E6E3;
}

.validator-new.validator-light.validator-right:after {
    border-right-color: #E7E6E3;
}

.validator-new.validator-light.validator-bottom:after {
    border-bottom-color: #E7E6E3;
}

.validator-new.validator-light.validator-left:after {
    border-left-color: #E7E6E3;
}

.validator-new.validator-top:before, .validator-new.validator-right:before, .validator-new.validator-bottom:before, .validator-new.validator-left:before {
    border-width: 8px;
}

.validator-new.validator-top:before, .validator-new.validator-bottom:before {
    margin-left: -8px;
}

.validator-new.validator-right:before, .validator-new.validator-left:before {
    margin-top: -8px;
}

.validator-new.validator-red:before {
    border-color: rgba(160, 27, 60, 0);
}

.validator-new.validator-red.validator-top:before {
    border-top-color: #A01B3C;
}

.validator-new.validator-red.validator-right:before {
    border-right-color: #A01B3C;
}

.validator-new.validator-red.validator-bottom:before {
    border-bottom-color: #A01B3C;
}

.validator-new.validator-red.validator-left:before {
    border-left-color: #A01B3C;
}

.validator-new.validator-green:before {
    border-color: rgba(50, 109, 50, 0);
}

.validator-new.validator-green.validator-top:before {
    border-top-color: #326D32;
}

.validator-new.validator-green.validator-right:before {
    border-right-color: #326D32;
}

.validator-new.validator-green.validator-bottom:before {
    border-bottom-color: #326D32;
}

.validator-new.validator-green.validator-left:before {
    border-left-color: #326D32;
}

/*#endregion*/