<app-nav-menu></app-nav-menu>

<div class="container">
  <main class="row">
    <div class='col-sm-12 body-content'>
      <ng-container>
        <section class="product-wrapper">
          <h4 style="text-transform:capitalize;">{{title}}</h4>
          <loading-screen *ngIf="!loadContent" [showBlurTable]="false" (currentLoadingStatus)="onLoading($event)">
          </loading-screen>
          <mat-tab-group mat-stretch-tabs>
            <mat-tab label="USERS">
              <button class="btn btn-green addnewuser" (click)="addNewUser()" *ngIf="role =='admin'">Add New
                User</button>
              <button class="btn btn-green addnewuser" (click)="uploadUsers()" *ngIf="role =='admin'">Upload Users</button>
              <span class="filter-wrapper">
                <span class="searchInputGroup">
                  <span class="searchIcon">
                    <i class="fas fa-search fa-2x"></i>
                  </span>
                  <input class="searchInput" (keyup)="applyFilter($event.target.value)" type="text"
                    placeholder="Search">
                </span>
              </span>

              <div class="example-container mat-elevation-z8">
                <mat-table #table [dataSource]="dataSourceFilter">

                  <ng-container matColumnDef="UserName">
                    <mat-header-cell *matHeaderCellDef> User Name </mat-header-cell>
                    <mat-cell *matCellDef="let element"> <span class="userid">#{{element.id}}</span>{{element.account}}
                    </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="Password">
                    <mat-header-cell *matHeaderCellDef> Password </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.password}}
                    </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="BusinessName">
                    <mat-header-cell *matHeaderCellDef> Business Name </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.bussinessName}} </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="Role">
                    <mat-header-cell *matHeaderCellDef> Role </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.role}} </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="Email">
                    <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="Phone">
                    <mat-header-cell *matHeaderCellDef> Phone </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.phone}} </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="Status">
                    <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.status}} </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="EditButton">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let element">
                      <button id="edit{{element.id}}" class="btn btn-long" (click)="editUser(element)">Edit</button>
                    </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="DeleteButton">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let element">
                      <button id="delete{{element.id}}" class="btn btn-long"
                        (click)="deleteUser(element)">Delete</button>
                    </mat-cell>
                  </ng-container>

                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
              </div>
            </mat-tab>

            <mat-tab label="ORDERS">
              <div class="filter-wrapper" style="width:700px;">
                <span class="searchInputGroup">
                  <span class="searchIcon">
                    <i class="fas fa-search fa-2x"></i>
                  </span>
                  <input class="searchInput" (keyup)="applyOrderFilter($event.target.value)" type="text"
                    placeholder="Search">
                  <div class="form-group">
                    <div class="input-group">
                      Date From:
                      <input class="form-control" placeholder="yyyy-mm-dd" (click)="df.toggle()" name="dp"
                        [(ngModel)]="dateFrom" ngbDatepicker #df="ngbDatepicker">
                    </div>
                    <div class="input-group">
                      Date To:
                      <input class="form-control" placeholder="yyyy-mm-dd" (click)="dt.toggle()" name="dp"
                        [(ngModel)]="dateTo" ngbDatepicker #dt="ngbDatepicker">
                    </div>

                  </div>
                  <button class="btn btn-green btn-order" (click)="getOrders()">Search</button>
                  <button class="btn btn-green btn-order" (click)="downloadExcel()">Download Excel</button>
                </span>
              </div>

              <div class="example-container mat-elevation-z8">
                <mat-table #table [dataSource]="ordersDataSource">

                  <ng-container matColumnDef="invoiceNo">
                    <mat-header-cell *matHeaderCellDef class="mat-table_2fex"> Invoice Number </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="mat-table_2fex">{{element.invoiceNo}}</mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="customer">
                    <mat-header-cell *matHeaderCellDef class="mat-table_2fex"> Customer </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="mat-table_2fex" style="text-transform:capitalize;">
                      {{element.user.bussinessName}} </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="createdDate">
                    <mat-header-cell *matHeaderCellDef> Created Date </mat-header-cell>
                    <mat-cell *matCellDef="let element">{{ element.createdDate | date }}</mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="totalPrice">
                    <mat-header-cell *matHeaderCellDef> Amount </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.totalPrice | currency:'AUD':'symbol-narrow':'.2-2'}}
                    </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="orderStatus">
                    <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                      <mat-select [(ngModel)]="element.orderStatus" id="status{{element.id}}"
                        (change)="changeStatus(element);">
                        <mat-option value="{{status?.orderStatus}}" *ngFor="let status of statusList">
                          {{status?.orderStatus}}</mat-option>
                      </mat-select>
                    </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="editButton">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let element">
                      <button id="editorder{{element.id}}" class="btn btn-long" (click)="editOrder(element)"
                        *ngIf="role =='admin'">Edit</button>
                    </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="deleteButton">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let element">
                      <button id="deleteorder{{element.id}}" class="btn btn-long"
                        (click)="deleteOrder(element)">Delete</button>
                    </mat-cell>
                  </ng-container>

                  <mat-header-row *matHeaderRowDef="displayedOrderColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedOrderColumns;"></mat-row>
                </mat-table>
              </div>

            </mat-tab>

            <mat-tab label="HEADER INFORMATIONS">
              <button class="btn btn-green addnewhead" (click)="addNewHeader()" *ngIf="role =='admin'">Add New Header
                Information</button>
              <span class="filter-wrapper">
                <span class="searchInputGroup">
                  <span class="searchIcon">
                    <i class="fas fa-search fa-2x"></i>
                  </span>
                  <input class="searchInput" (keyup)="applyHeaderFilter($event.target.value)" type="text"
                    placeholder="Search">
                </span>
              </span>

              <div class="example-container mat-elevation-z8">
                <mat-table #table [dataSource]="headerDataSource">

                  <ng-container matColumnDef="Id">
                    <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="Content">
                    <mat-header-cell *matHeaderCellDef> Content </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.content}} </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="ImagePath">
                    <mat-header-cell *matHeaderCellDef> ImagePath </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.imagePath}} </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="EditButton">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let element">
                      <button id="editheader{{element.id}}" class="btn btn-long"
                        (click)="editHeader(element)">Edit</button>
                    </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="DeleteButton">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let element">
                      <button id="deleteheader{{element.id}}" class="btn btn-long"
                        (click)="deleteHeader(element)">Delete</button>
                    </mat-cell>
                  </ng-container>

                  <mat-header-row *matHeaderRowDef="displayedHeaderColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedHeaderColumns;"></mat-row>
                </mat-table>
              </div>
            </mat-tab>

            <mat-tab label="UPLOAD PDF">

              <button class="btn btn-green addnewuser" (click)="uploadPdf()">Upload Pdf</button>
              <span class="filter-wrapper">
                &nbsp;
              </span>

              <div class="example-container mat-elevation-z8">
                <mat-table #table [dataSource]="pdfDataSource">

                  <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
                    <mat-cell *matCellDef="let element">#{{element.id}}</mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="title">
                    <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.title}} </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="imagePath">
                    <mat-header-cell *matHeaderCellDef> Path </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.path}} </mat-cell>
                  </ng-container>

                  <mat-header-row *matHeaderRowDef="displayedPdfColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedPdfColumns;"></mat-row>
                </mat-table>
              </div>
            </mat-tab>
          </mat-tab-group>

        </section>
      </ng-container>
    </div>
  </main>
</div>

<div class="globalfooter">© Copyright 2019 Trojan Trading Company PTY LTD.</div>