@import "../home/home.component.css";

.form-group {
    display: flex;
}

.input-group {
    position: relative;
    display: block;
    border-collapse: separate;
    margin-left: 10px;
    margin-top: -18px;
}

.form-control {
    width: 100px;
}

.btn-green{
    padding-top: 4px !important;
    font-style: normal !important;
}

.mat-table_2fex{
    flex: 2 !important;
}

.page-title-position {
	padding-bottom: 0px;
	width: 100%;
	display: inline-block;
	padding: 0px;
	text-transform: capitalize;
	font-weight: 300;
	font-size: 20px;
	color: gray;
  }

  
.page-title-wrapper, .page-main-wrapper {
	padding: 15px 20px 30px 10px;
	font-size: 4.5rem;
	line-height: 1.5rem;
	vertical-align: middle;
  }