@import "../home/home.component.css";

.container{
	margin-top: 30px;
	min-height: 700px;
}

.form-group {
    display: flex;
}

.input-group {
    position: relative;
    display: block;
    border-collapse: separate;
    margin-left: 10px;
    margin-top: -18px;
}

.form-control {
    width: 100px;
}