.container{
	margin-top: 30px;
}
nav a{
	width: 25%;
}

h4{
	color: gray;
	padding-bottom:15px;
	font-size: 30px !important;
}

.product-wrapper{
	padding: 20px;
	background: #eeede1;
}
/* Overwrite default google material styles */

::ng-deep .mat-tab-link.mat-tab-label-active{
	background: #eeede1!important;
	opacity: 1!important;
}

::ng-deep .mat-cell, .mat-header-cell{
	padding:15px;
}

::ng-deep .mat-header-cell {
    font-size: 13px !important;
    font-weight: bold !important;
}

.filter-wrapper{
	width: 300px;
	display: block;
	padding-bottom:25px;
}

.mat-table {
	overflow: auto;
	max-height: 500px;
}

.example-container input{
	width:50%;
}

.productid{
	display: block;
    margin: 0;
    color: #cfcebb;
}

.totalrow{
	background: white;
	/* border-bottom: none; */
	display: flex;
    align-items: center;
	padding: 0px 24px;
	box-sizing: border-box;
	border-bottom-color: rgba(0,0,0,.12);
}

.totalrow p{
	text-align: right;
	font-weight: bolder;
}

.totaltext{
	flex: 8;
}

.totalprice{
	flex: 1;
}

.pushright{
	flex: 3;
}

.buttonrow{
	max-height: 100px !important;
}

.btn-long{
	margin-top: 20px !important;
    margin-bottom: 20px !important;
}

.mat-table_1fex{
	flex: 1 !important;
	color: #C20047;
	text-align: right;
}

.mat-table_4fex{
	flex: 4 !important;
}

.mat-table_3fex{
	flex: 3 !important;
}

.fa-2x {
	font-size: 20px !important;
	cursor: pointer;
}

.emptycart{
	text-align: center;
}

.emptycart p{
	color: #C20047;
	font-size: 28px;
}

input[type="number"] {
	width: 100%;
    border: solid 1px #2d2c26;
    color: #2d2c26;
    font-size: 1.1rem;
    border-radius: 0.5em;
    padding: 0.35em 0.65em;
    box-shadow: inset 2px 2px 5px rgba(52, 55, 49, 0.2);
    text-align: center;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}