<app-nav-menu></app-nav-menu>

<div class="container">
  <main class="row">
    <div class='col-sm-12 body-content'>
      <ng-container>
        <section class="product-wrapper" *ngIf="!successCheckout">
          <h4>Checkout</h4>

          <div class="emptycart" *ngIf="!dataSource?.length">
            <p>Your Cart Is Empty</p>
            <button class="btn btn-long" (click)="continueShopping()">Start Shopping</button>
          </div>

          <div class="example-container mat-elevation-z8" *ngIf="dataSource?.length">
            <mat-table #table [dataSource]="dataSource">
      
              <!--- Note that these columns can be defined in any order.
                          The actual rendered columns are set as a property on the row definition" -->
      
              <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef class="mat-table_4fex" class="mat-table_4fex"> Description </mat-header-cell>
                <mat-cell *matCellDef="let element" class="mat-table_4fex" class="mat-table_4fex"> <span
                    class="productid">#{{element.product.id}}</span>{{element.product.name}} </mat-cell>
              </ng-container>
      
              <ng-container matColumnDef="category">
                <mat-header-cell *matHeaderCellDef class="mat-table_3fex"> Category </mat-header-cell>
                <mat-cell *matCellDef="let element" class="mat-table_3fex"> {{element.product.category}} </mat-cell>
              </ng-container>
      
              <ng-container matColumnDef="originalPrice">
                <mat-header-cell *matHeaderCellDef class="mat-table_3fex"> Original Price ex. GST </mat-header-cell>
                <mat-cell *matCellDef="let element" class="mat-table_3fex"> {{element.product.originalPrice | currency:'AUD':'symbol-narrow':'.2-2'}} </mat-cell>
              </ng-container>

              <!-- buyPrice Column -->
              <ng-container matColumnDef="agentPrice" *ngIf="role=='agent'">
                <mat-header-cell *matHeaderCellDef> Agent Price ex. GST </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.product.agentPrice | currency:'AUD':'symbol-narrow':'.2-2'}} </mat-cell>
              </ng-container>

              <!-- buyPrice Column -->
              <ng-container matColumnDef="wholesalerPrice" *ngIf="role=='wholesaler'">
                <mat-header-cell *matHeaderCellDef> Wholesaler Price ex. GST </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.product.wholesalerPrice | currency:'AUD':'symbol-narrow':'.2-2'}} </mat-cell>
              </ng-container>
      
              <ng-container matColumnDef="qty">
                <mat-header-cell *matHeaderCellDef class="mat-table_3fex"> Quantity </mat-header-cell>
                <mat-cell *matCellDef="let element" class="mat-table_3fex"> <input id="qty{{element.id}}" type="number" (keypress)="_keyPress($event)" (keyup)="changeQuantity(element)" [(ngModel)]="element.amount"> </mat-cell>
              </ng-container>
      
              <ng-container matColumnDef="subTotal">
                <mat-header-cell *matHeaderCellDef class="mat-table_3fex">Line Amount ex. GST</mat-header-cell>
                <mat-cell *matCellDef="let element" class="mat-table_3fex">{{element.subTotal | currency:'AUD':'symbol-narrow':'.2-2'}}</mat-cell>
              </ng-container>
      
              <ng-container matColumnDef="remove">
                <mat-header-cell *matHeaderCellDef class="mat-table_1fex"></mat-header-cell>
                <mat-cell *matCellDef="let element" class="mat-table_1fex"><i id="shoppingitem{{element.id}}" class="far fa-trash-alt fa-2x" (click)="deleteShoppingItem(element)"></i></mat-cell>
              </ng-container>
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
            <div class="totalrow" style="padding-top: 20px;">
              <p style="flex: 7">&nbsp;</p>
              <mat-form-field style="flex: 3">
                <mat-label>Payment Method</mat-label>
                <mat-select [(ngModel)]="selectedPayment" (ngModelChange)="changePaymentMethod()">
                  <mat-option value="onaccount">
                    ON ACCOUNT
                  </mat-option>
                  <mat-option value="prepay">
                    PREPAYMENT
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="totalrow">
              <p class="totaltext">You will pay Excl. GST</p>
              <p class="totalprice">{{priceExclGst | currency:'AUD':'symbol-narrow':'.2-2'}}</p>
            </div>
            <div class="totalrow">
              <p class="totaltext">GST</p>
              <p class="totalprice">{{gst | currency:'AUD':'symbol-narrow':'.2-2'}}</p>
            </div>
            <div class="totalrow">
              <p class="totaltext">You will pay Inc. GST</p>
              <p class="totalprice">{{priceIncGst | currency:'AUD':'symbol-narrow':'.2-2'}}</p>
            </div>
            <div class="totalrow">
              <p class="totaltext">Total Discount Earned</p>
              <p class="totalprice">{{discount | currency:'AUD':'symbol-narrow':'.2-2'}}</p>
            </div>
            <div class="totalrow buttonrow">
              <button class="btn btn-long" (click)="continueShopping()">Continue Shopping</button>
              <div class="pushright"></div>
              <button class="btn btn-long checkoutbtn" (click)="checkoutShoppingItems()">Checkout</button>
            </div>
          </div>
        </section>

        <section class="product-wrapper" *ngIf="successCheckout">
          <div class="successcheckout">
            <i class="fas fa-clipboard-check fa-7x successicon"></i>
            <p>CONGRATULATIONS! THE SHOPPING CART IS SUCCESSFULLY CHECKED OUT</p>
            <button class="btn btn-long" (click)="continueShopping()">Continue Shopping</button>
          </div>
        </section>
      </ng-container>
    </div>
  </main>
</div>

<div class="globalfooter">© Copyright 2019 Trojan Trading Company PTY LTD.</div>