.container{
	margin-top: 30px;
	width: 1250px !important;
}

nav a{
	width: 25%;
}

h4{
	color: gray;
	padding-bottom:15px;
}

.product-wrapper{
	padding: 20px;
	background: #eeede1;
}
/* Overwrite default google material styles */

::ng-deep .mat-tab-link.mat-tab-label-active{
	background: #eeede1 !important;
	opacity: 1 !important;
	color: #C20047;
	border-bottom: 1px solid #C20047;
	font-weight: bolder;
}

::ng-deep .mat-ink-bar{
	background-color: #C20047 !important;
}

::ng-deep .mat-cell, .mat-header-cell{
	padding:15px;
}

::ng-deep .mat-header-cell {
    font-size: 13px !important;
    font-weight: bold !important;
}

.filter-wrapper{
	width: 300px;
	display: block;
	padding-bottom:25px;
}
.mat-table_3fex{
	flex:3
}
.example-container input{
	width:50%;
}

.productid{
	display: block;
    margin: 0;
    color: #cfcebb;
}

.btn-long, .btn-green{
	width: auto !important;
	margin-top: 0 !important;
}

input[type="number"] {
	width: 100%;
    border: solid 1px #2d2c26;
    color: #2d2c26;
    font-size: 1.1rem;
    border-radius: 0.5em;
    padding: 0.35em 0.65em;
    box-shadow: inset 2px 2px 5px rgba(52, 55, 49, 0.2);
    text-align: center;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.addnewproduct{
	float: right;
}


.navbar-button {
  padding-top: 10px;
}

.navbar-button button {
  color: #0a0a0a88;
  background: transparent;
  margin: 10px 5px;
  padding: 5px 15px;
  border-radius: 50px;
  border: 0px;
  box-shadow: 1px 1px 2px 0px rgba(77, 79, 80, 0.302), 0 1px 3px 1px rgba(41, 43, 43, 0.149);
}

.navbar-button button:hover {
  box-shadow: 0px 1px 3px 0 rgba(138, 139, 140, 0.302), 0px 4px 8px 3px rgba(35, 35, 35, 0.149);
}

.navbar-button_flexWrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  margin-bottom: 15px;
}