.container{
  position: relative;
  width: 100%;
}

nav a{
	width: 20%;
}

h4{
	color: gray;
	padding-bottom:15px;
}

.product-wrapper{
	padding: 20px;
  border: 1px solid rgba(0,0,0,.03);
  box-shadow: 0 2px 2px rgba(0,0,0,.24), 0 0 2px rgba(0,0,0,.12);
  background: white;
}
/* Overwrite default google material styles */

::ng-deep .mat-tab-link.mat-tab-label-active{
	background: white !important;
	opacity: 1 !important;
	color: #C20047;
	border-bottom: 1px solid #C20047;
  font-weight: bolder;
  border: 1px solid rgba(0,0,0,.03);
  box-shadow: 2px 2px 2px rgba(0,0,0,.24), 0 0 2px rgba(0,0,0,.12);
  border-bottom: none;
}

::ng-deep .mat-ink-bar{
	background-color: #C20047 !important;
}

::ng-deep .mat-header-cell {
    font-size: 14px !important;
    font-weight: bold !important;
}

::ng-deep .mat-cell {
	font-size: 16px;
  font-weight: 500;
  padding: 15px 0;
}

.filter-wrapper{
	width: 300px;
	display: block;
	padding-bottom:25px;
}
.mat-table_3fex{
	flex:3
}
.example-container input{
	width:50%;
}

.productid{
	display: block;
    margin: 0;
    color: #cfcebb;
}

.btn-long, .btn-green{
	width: auto !important;
	margin-top: 0 !important;
}

input[type="number"] {
	width: 100%;
  border: solid 1px #2d2c26;
  color: #2d2c26;
  font-size: 1.1rem;
  border-radius: 0.5em;
  padding: 0.35em 0.65em;
  box-shadow: inset 2px 2px 5px rgba(52, 55, 49, 0.2);
  text-align: center;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.addnewproduct{
	float: right;
}


.navbar-button {
  padding-top: 10px;
}

.navbar-button button {
  color: #0a0a0a88;
  background: white;
  margin: 10px 5px;
  padding: 5px 15px;
  border-radius: 50px;
  border: 0px;
  box-shadow: 1px 1px 2px 0px rgba(77, 79, 80, 0.302), 0 1px 3px 1px rgba(41, 43, 43, 0.149);
}

.navbar-button button:hover {
  box-shadow: 0px 1px 3px 0 rgba(138, 139, 140, 0.302), 0px 4px 8px 3px rgba(35, 35, 35, 0.149);
  color:#C20047;
}

.navbar-button_flexWrapper {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  margin-bottom: 15px;
}

.btn{
  padding: 3px 10px !important;
}