<div class="container">
  <main class="row">
    <div class='col-sm-12 body-content'>
      <nav mat-tab-nav-bar>
        <a mat-tab-link *ngFor="let link of navLinks" [routerLink]="link.path" routerLinkActive #rla="routerLinkActive"
          [active]="rla.isActive">
          {{link.label}}
        </a>
      </nav>
        
      <!-- Showing all products at the home page -->
      <ng-container *ngIf="!isHomeComponentDestroyed">
        <section class="product-wrapper">
          <h4 style="text-transform:capitalize;">{{title}}</h4>
          <span class="filter-wrapper">
            <span class="searchInputGroup">
              <span class="searchIcon">
                <i class="fas fa-search fa-2x"></i>
              </span>
              <input class="searchInput" (keyup)="applyFilter($event.target.value)" type="text" placeholder="Search">
            </span>
          </span>
      
          <div class="example-container mat-elevation-z8">
            <mat-table #table [dataSource]="dataSource">
          
              <!--- Note that these columns can be defined in any order.
                        The actual rendered columns are set as a property on the row definition" -->
      
              <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef class="mat-table_3fex"> Description </mat-header-cell>
                <mat-cell *matCellDef="let element" class="mat-table_3fex"> <span class="productid">#{{element.id}}</span>{{element.name}} </mat-cell>
              </ng-container>
      
              <!-- wlpPrice Column -->
              <ng-container matColumnDef="category">
                <mat-header-cell *matHeaderCellDef> Category </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.category}} </mat-cell>
              </ng-container>
      
              <!-- buyPrice Column -->
              <ng-container matColumnDef="originalPrice">
                <mat-header-cell *matHeaderCellDef> Original Price ex. GST </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.originalPrice | currency:'AUD':'symbol-narrow':'.2-2'}} </mat-cell>
              </ng-container>

              <!-- buyPrice Column -->
              <ng-container matColumnDef="agentPrice" *ngIf="role=='admin' || role=='agent'">
                <mat-header-cell *matHeaderCellDef> Original Price ex. GST </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.agentPrice | currency:'AUD':'symbol-narrow':'.2-2'}} </mat-cell>
              </ng-container>

              <!-- buyPrice Column -->
              <ng-container matColumnDef="resellerPrice" *ngIf="role=='admin' || role=='reseller'">
                <mat-header-cell *matHeaderCellDef> Original Price ex. GST </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.resellerPrice | currency:'AUD':'symbol-narrow':'.2-2'}} </mat-cell>
              </ng-container>
      
              <ng-container matColumnDef="qty">
                <mat-header-cell *matHeaderCellDef> Quantity </mat-header-cell>
                <mat-cell *matCellDef="let element"> <input type="number" (keypress)="_keyPress($event)" value="{{element.quantity}}"> </mat-cell>
              </ng-container>
      
              <ng-container matColumnDef="button">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let element"><button id="{{element.id}}" class="btn btn-long" (click)="addToCart(element)">Add To Cart</button></mat-cell>
              </ng-container>
      
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
          </div>
        </section>
      </ng-container>
    </div>
  </main>
</div>