<app-nav-menu></app-nav-menu>

<div class="container">
  <div class="row">
    <div class="col-sm-12 body-content">

      <section class="container-fluid">
        <div class="row navbar-button">
          <div class="col-sm-12 navbar-button_flexWrapper">
            <button *ngFor="let cig of categoryList" (click)="manageRedirect(cig?.category);">{{cig?.type}}</button>
          </div>
        </div>
      </section>

      <nav mat-tab-nav-bar>
        <a mat-tab-link (click)="switchLabel(link.id)" *ngFor="let link of navLinks" [routerLink]="link.path" routerLinkActive #rla="routerLinkActive"
          [active]="rla.isActive">
          {{link.label}}
        </a>
      </nav>
      <loading-screen *ngIf="!loadContent" [showBlurTable]="false" (currentLoadingStatus)="onLoading($event)"></loading-screen>
      <ng-container>
        <section class="product-wrapper">
          <h4>{{title}}</h4>
          <button class="btn btn-green addnewproduct" (click)="addNewProduct()" *ngIf="role =='admin'">Add New Product</button>
          <span class="filter-wrapper">
            <span class="searchInputGroup">
              <span class="searchIcon">
                <i class="fas fa-search fa-2x"></i>
              </span>
              <input class="searchInput" (keyup)="applyFilter($event.target.value)" type="text" placeholder="Search">
            </span>
          </span>
      
          <div class="example-container mat-elevation-z8">
            <mat-table #table [dataSource]="dataSource">
          
              <!--- Note that these columns can be defined in any order.
                        The actual rendered columns are set as a property on the row definition" -->
              <ng-container matColumnDef="itemcode">
                <mat-header-cell *matHeaderCellDef> Item Code </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.itemCode}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef class="mat-table_2fex"> Description </mat-header-cell>
                <mat-cell *matCellDef="let element" class="mat-table_2fex"> {{element.name}} </mat-cell>
              </ng-container>
      
              <!-- wlpPrice Column -->
              <ng-container matColumnDef="category">
                <mat-header-cell *matHeaderCellDef> Category </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.category}} </mat-cell>
              </ng-container>
      
              <!-- buyPrice Column -->
              <ng-container matColumnDef="originalPrice">
                <mat-header-cell *matHeaderCellDef> Original Price </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.originalPrice | currency:'AUD':'symbol-narrow':'.2-2'}} </mat-cell>
              </ng-container>

              <!-- buyPrice Column -->
              <ng-container matColumnDef="agentPrice" *ngIf="role=='admin' || role=='agent'">
                <mat-header-cell *matHeaderCellDef> Agent Price </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.agentPrice | currency:'AUD':'symbol-narrow':'.2-2'}} </mat-cell>
              </ng-container>

              <!-- buyPrice Column -->
              <ng-container matColumnDef="wholesalerPrice" *ngIf="role=='admin' || role=='wholesaler'">
                <mat-header-cell *matHeaderCellDef> Wholesaler Price </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.wholesalerPrice | currency:'AUD':'symbol-narrow':'.2-2'}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="prepaymentDiscount" *ngIf="role=='admin' || role=='wholesaler'">
                <mat-header-cell *matHeaderCellDef> Prepayment Price </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.prepaymentDiscount | currency:'AUD':'symbol-narrow':'.2-2'}}
                </mat-cell>
              </ng-container>
      
              <ng-container matColumnDef="qty" *ngIf="role!='admin'">
                <mat-header-cell *matHeaderCellDef> Quantity </mat-header-cell>
                <mat-cell *matCellDef="let element"> <input type="number" id="product{{element.id}}" (keypress)="isNumberKey($event)" (keyup)="changeQuantity(element)" [(ngModel)]="element.quantity"> </mat-cell>
              </ng-container>

              <ng-container matColumnDef="status">
                <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.status=="outofstock" ? "Out of Stock" : element.status}} </mat-cell>
              </ng-container>
      
              <ng-container matColumnDef="button">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <button id="{{element.id}}" class="btn btn-long" (click)="addToCart(element)" [disabled]="element.status.toLowerCase() == 'outofstock' || element.quantity==0" *ngIf="role !='admin'">Add To Cart</button>
                  <button id="{{element.id}}" class="btn btn-long" (click)="editProduct(element)" *ngIf="role =='admin'">Edit</button>
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="deletebutton" *ngIf="role == 'admin'">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <button class="btn btn-long delete{{element.id}}" (click)="deleteProduct(element)">Delete</button>
                </mat-cell>
              </ng-container>
      
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
          </div>

        </section>
      </ng-container>
    </div>
  </div>
</div>

<div class="globalfooter">© Copyright 2019 Trojan Trading Company PTY LTD.</div>